
<div class="blocky">
<a class="title" href="index">
  <h1>Rebecca Cottrell</h1>
</a>
</div>

<div class="nav-links">
  <p>
  <a href="index" {% if page.url == "/" %}style="color: black;"{% endif %}>Projects</a>

  <a href="comics" {% if page.url == "https://rcottrell.com/comics" %}style="color: black;"{% endif %}>
    Comics</a>

  <a href="about" {% if page.url == "https://rcottrell.com/about" %}style="color: black;"{% endif %}>About</a>

  <a href="http://rapturebird.bigcartel.com">Shop↝</a>
</p>
</div>
