---
layout: fly-comic
title: Swatted
---


<div class="comic-body">

  <!-- Pagination links -->
  <div class="pagination-wrap">
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        &larr; Previous
      </a>
    {% else %}
      <span class="previous">&larr; Previous</span>
    {% endif %}
    <!--
    <span class="page_number ">
      {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
  -->
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next &rarr;</a>
    {% else %}
      <span class="next ">Next &rarr;</span>
    {% endif %}
  </div>
</div>
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <!--
      <span class="date">  {{ post.date | date: '%B %d, %Y' }}</span>
    -->
    </p>
    <div class="content">
      <div class="story-wrapper">
      {{ post.content }}
  </div>
    </div>
  {% endfor %}


</div>
